<! DOCTYPE HTML>
<head>
    <% include partials/head %>
</head>
<body>
    <div id="container">
    <% include partials/header %>
        <div id="main">
            <table id="listMembre">
                <tr>
                    <th>Id</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>         
                <% for (var item of membre){%>
                <tr> 
                        <td><%= item.id %></td>
                        <td class="firstname"><%= item.firstname %> </td>
                        <td class="lastname"><%= item.lastname %> </td>
                        <td><a class="editSubmitBtn">Edit</a></td>
                        <td><a href='/membre/del?id=<%= item.id %>'>Delete</a></td>
                    </tr>
                <% } %>
                <form method="POST" id="addMembre">
                    <tr id="addMembreUI">
                        <td></td>
                        <td><input type="text" name="firstname" ></input></td>
                        <td><input type="text" name="lastname" ></input></td>
                        <td><input type="submit" id="addSubmitBtn" value="Ajouter"></input></td>
                    </tr>
                </form>                
            </table>
        <div>
                
                   
                Modifier
                <form method="GET" action="/membre/up" >
                    <ul>
                        <li><input type="text" name="id" >id</input></li>
                        <li><input type="text" name="firstname" >firstname</input></li>
                        <li><input type="text" name="lastname" >lastname</input></li>
                        <li><input type="submit" value="Modifier"></input></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    <% include partials/jscalls %>
</body>
</html>
