<html>
<head>
</head>
<body>
<table>
    Laisser un commmentaire pour l'hôtel :<br/>
    <form action="comment" method="POST">
        Auteur <input type="text" id="auteur" name="auteur"/><br/>
        Contenu <input type="textarea" id="contenu" name="contenu"/>
        <input type="submit" value="Envoyer"/>
    </form>
</table>
</body>
</html>
<!--
commune,classement,code_postal,courriel,adresse,date_de_publication_de_l_etablissement,
date_de_classement,nom_commercial,dept,capacite_d_accueil_personnes,nombre_de_chambres,
telephone,wgs84,lng,lat,site_internet
-->