h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

body {
  font-family: 'Open sans', sans-serif;
  font-size: .9em;
  margin: 0;
  padding: 0;
  color: #444;
  background: #dadada;
}

.icon-star,
.icon-star-empty {
  padding: 2px;
  color: #ccc;
}

.icon-star {
  color: #ffd90d;
}

#competences,
#experience {
  width: 100%;
}

#experience {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#competences {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

h1 {
  font-size: 1.4em;
  padding: 0 0 0 15px;
}

h1 span {
  font-size: .9em;
  font-weight: normal;
}

h2 {
  font-size: 1.1em;
  color: #0b70bd;
  border-bottom: solid 2px #0b70bd;
}

h3 {
  font-size: 1em;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px;
  color: #fff;
  background: #406b8c;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header i {
  margin-right: 5px;
}

div.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #c7c7c7;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.contact div {
  margin-top: 10px;
}

header * {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.professionnelles span {
  margin-left: 5px;
}

#competences ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#competences ul li {
  font-weight: bold;
  margin: 2px 0;
  padding: 0;
}

#competences ul li div {
  width: 130px;
}

article {
  clear: both;
  margin: 0 5px;
  padding: 5px 0 0 0;
}

article p {
  margin: 5px 0 0 0;
  padding: 0;
}

section {
  padding: 5px 0 0 0;
}

span.lieu {
  font-weight: normal;
  color: #0b70bd;
}

span.norm {
  font-weight: normal;
  margin-right: 5px;
}

@media screen and (min-width: 800px) {
  header {
    padding: 15px;
  }

  article,
    section {
    padding: 15px 0 0 0;
  }

  article {
    margin: 0 15px;
  }

  article p {
    margin: 15px 0 0 0;
  }

  h1 {
    padding: 0 80px 0 15px;
  }

  body {
    padding: 20px 0 100px 0;
  }

  div.contact div {
    width: 175px;
    margin-top: 5px;
    margin-left: 0;
  }

  div.contact {
    width: 380px;
  }

  #competences ul {
    display: block;
  }

  #competences ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 5px 0;
  }

  #competences ul li div {
    font-weight: bold;
    padding: 0;
  }

  #competences {
    width: 30%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  #experience {
    width: 70%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media print {
  h1,
    h2,
    h3,
    strong {
    font-weight: normal;
  }

  header {
    background: transparent;
  }

  h1 {
    color: #333;
  }

  h3 {
    margin: 3px 0 3px 0;
    border-bottom: solid 1px #333;
  }

  h3 span {
    text-decoration: none;
    border-bottom: none;
  }
}
