<! DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="css/styles.css"/>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <meta description="Erwan Guy-Brossier, Développeur front-end">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Erwan Guy-Brossier, Développeur front-end</title>
        <link id="page_favicon" href="../favicon.ico" rel="icon" type="image/x-icon" />
    </head>
    <body>
        <main>
            <header>
                <img src="img/photo.gif" height=100px width=100px />
                <h1>Erwan Guy-Brossier<br/><span>Développeur front-end</span></h1>
                <div class="contact">
                    <div><i class="icon-map-marker"></i>Nantes</div>
                    <div><i class="icon-envelope"></i><a href="mailto:erwanguy@gmail.com">erwanguy@gmail.com</a></div>
                    <div><i class="icon-mobile-phone"></i>06.44.18.95.34</div>
                    <div><i class="icon-globe"></i><a href="http://www.erwangb.com">http://www.erwangb.com</a></div>
                </ul>
            </header>
            <div id="competences">
                <article>
                    <h2>Formation</h2>
                    <section>
                        <strong>Concepteur Développeur Informatique <span class="lieu">IMIE Nantes</span></strong>
                        Depuis Novembre 2016<br/>
                        Titre niveau II,  BAC +4<br/>
                    </section>
                    <section>
                        <strong>Niveau BTS informatique de gestion <span class="lieu">Nantes</span></strong>
                        2000 - 2002<br/>
                        Contrat qualification chez Strathom (Nantes)
                    </section>
                </article>
                <article>
                    <h2>Compétences</h2>
                    <section>
                        <ul>
                            <% for (var comp of star){ %>
                            <li><div><%= comp.name %></div>
                            <% for (i = 1 ; i <= 5 ; i++){ 
                                if (i <= comp.value ) { %>
                                    <i class="icon-star"></i>
                                <% } else { %>
                                    <i class="icon-star-empty"></i>
                                <% } %>
                            <% }} %>
                            </li>
                        </ul>
                    </section>
                </article>
                <article>                    
                    <h2>Outils</h2>
                    <section>
                        Git, Gulp, Violet, Pgadmin, phpMyAdmin, Balsamiq, Photoshop    
                    </section>
                </article>
            </div>
            <div id="experience">
                <article>
                    <h2>Profil</h2>
                    <p>37ans, Permis B</p>
                    <p>Spécialisé dans le développement et l’intégration web ,j'ai aussi des compétences en graphisme et en design ce qui rend mon profil pluridisciplinaire.</p>
                    <p>Ma nature touche-à-tout et une ouverture d’esprit technique me permettent de participer et d’apporter conseils à de nombreux projets innovants.</p>
                </article>
                <article class="professionnelles">
                    <h2>Expériences professionnelles</h2>
                    <section>
                        <h3>Développeur front-end<span class="lieu">Freelance</span><span class="norm">Nantes</span>2015 - 2016</h3>
                        Intégration de sites Wordpress<br/>
                        Développement d'un projet mobile personnel sur la cuisine                        
                    </section>
                    <section>
                        <h3>Développeur front-end<span class="lieu">Opinews</span><span class="norm">Paris - Nantes</span>2011 - 2014</h3>
                        Design et développement d’un site grand public de vidéoconférences<br/>
                        Définition des contraintes techniques pour réaliser des émissions en direct sur Internet.
                    </section>
                    <section>
                        <h3>Développeur Web<span class="lieu">NGM</span><span class="norm">Paris</span>2010<br/></h3>
                        Intégration d'un backoffice de gestion de serveur en collaboration avec un administrateur système.
                    </section>
                    <section>
                        <h3>Développeur Web<span class="lieu">Kirranet</span><span class="norm">Paris</span>2008 - 2010</h3>
                        Fondation de Kirranet à Paris avec 3 associés<br/>
                        Développement du site web entreprise et du backoffice client
                    </section>
                    <section>
                        <h3>Développeur Flash<span class="lieu">Freelance</span><span class="norm">Nantes</span>2004 - 2007<br/></h3>
                        Développement de mini jeux Flash pour des opérations publicitaires
                    </section>
                    <section>
                        <h3>Développeur Web<span class="lieu">VIDUNET</span><span class="norm">Nantes</span>2003</h3>
                    </section>
                    <section>
                        <h3>Technicien Informatique<span class="lieu">Mc Donald's</span><span class="norm">Région Ouest</span>1999</h3>                        
                    </section>
                </article>
                <article>
                    <h2>Centres d'intérêts</h2>
                        <p><strong>Veille technologique</strong> : Du web à l'espace...</p>
                        <p><strong>Cuisine</strong> : Donne irrégulièrement des cours à mon entourage</p>
                        <p><strong>Natation</strong> : La course à pied fait mal aux genoux</p>
                </article>
            </div>
        </main>
    </body>
</html>